rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
        && request.auth.uid == 'a1MQmdMGkgdorEl6V3FAptCAYo52';
    }

    match /activities/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /notices/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
